<div class="bg-surface-0 dark:bg-surface-900 p-8 shadow rounded-border flex-auto h-full">
  <div class="text-surface-900 dark:text-surface-0 font-semibold text-lg mt-4">{{ 'admin.user.list.title' | translate }}</div>
  <p-divider />
  <p-toast />
  <sf-toolbar [showAdd]="true" (addItem)="showCreateDialog.set(true)" />
  <sf-table
    [data]="data()"
    [columns]="columns"
    [prefix]="'admin.user'"
    [showDelete]="true"
    [showEdit]="true"
    [customClass]="'table-height'"
    (delete)="onDelete($event)"
    (edit)="onEdit($event)"
  />

  <!-- dialogs -->
  <sf-user-create [visible]="showCreateDialog()" (showCreateDialog)="showCreateDialog.set($event)" (showMessage)="showMessage($event)" />
  <sf-user-edit
    [visible]="showEditDialog()"
    [user]="selectedUser"
    (showEditDialog)="showEditDialog.set($event)"
    (showMessage)="showMessage($event)"
  />
</div>
