<div class="mb-4">
  <p-floatlabel class="w-full" variant="on">
    <p-datePicker
      [id]="id"
      class="w-full custom-calendar"
      [formControl]="formControl"
      dateFormat="dd.mm.yy"
      [showIcon]="true"
      [showOnFocus]="false"
      appendTo="body"
    />
    <label [for]="id">
      {{ label | translate }}
      @if (required) {
        <span class="text-red-500">*</span>
      }
    </label>
  </p-floatlabel>
  @if (formControl.invalid && formControl.dirty) {
    <p-message severity="error" variant="simple" size="small">{{ getErrorMessage() | translate }}</p-message>
  }
</div>
