<p-dialog
  header="{{ 'training.create.title' | translate }}"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '70rem', height: '45rem', minWidth: '600px', minHeight: '450px' }"
  (onShow)="resetForm()"
  (onHide)="cancel()"
>
  <p-tabs value="0">
    <!-- tab header -->
    <p-tablist>
      <p-tab value="0">{{ 'training.create.tabDetails' | translate }}</p-tab>
      <p-tab value="1">{{ 'training.create.tabLessons' | translate }}</p-tab>
      <p-tab value="2">{{ 'training.create.tabQuestions' | translate }}</p-tab>
    </p-tablist>

    <!-- tab panels -->
    <p-tabpanels>
      <p-tabpanel value="0">
        <sf-training-details (submitTraining)="create($event)" (cancelTraining)="cancel()" />
      </p-tabpanel>
      <p-tabpanel value="1">
        <sf-training-lessons />
      </p-tabpanel>
      <p-tabpanel value="2"></p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</p-dialog>
