<div class="bg-surface-0 dark:bg-surface-900 p-8 shadow rounded-border flex-auto h-full">
  <div class="text-surface-900 dark:text-surface-0 font-semibold text-lg mt-4">{{ 'member.list.title' | translate }}</div>
  <p-divider />
  <sf-table [data]="data()" [columns]="columns" [showButtons]="true" (delete)="onDelete($event)" (edit)="onEdit($event)" />
  <div class="flex justify-end mt-4">
    <p-button icon="pi pi-plus" [rounded]="true" (click)="addMember()" />
    <sf-member-create [visible]="showCreateDialog" (showCreateDialog)="onHideCreateDialog($event)" />
    <sf-member-edit [visible]="showEditDialog" [member]="selectedMember" (showEditDialog)="onHideEditDialog($event)" />
  </div>
</div>
