<p-dialog
  header="{{ 'training.edit.title' | translate }}"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '70rem', height: '45rem', minWidth: '600px', minHeight: '450px' }"
  (onHide)="cancel()"
>
  <p-tabs value="0">
    <p-tablist>
      <!-- tab header -->
      <p-tab value="0">{{ 'training.edit.tabDetails' | translate }}</p-tab>
      <p-tab value="1">{{ 'training.edit.tabLessons' | translate }}</p-tab>
      <p-tab value="2">{{ 'training.edit.tabQuestions' | translate }}</p-tab>
    </p-tablist>

    <!-- tab panels -->
    <p-tabpanels>
      <p-tabpanel value="0">
        <sf-training-details (submitTraining)="update($event)" (cancelTraining)="cancel()" [trainingId]="trainingId" />
      </p-tabpanel>
      <p-tabpanel value="1">
        <sf-training-lessons [trainingId]="trainingId" (deletedLesson)="deleteLesson()" (reorderedLesson)="reorderLesson()" />
      </p-tabpanel>
      <p-tabpanel value="2">
        <!--sf-training-questions [training]="training" /-->
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</p-dialog>
