<div class="relative flex gap-2 h-screen bg-surface-50 dark:bg-surface-900 p-2">
  <!-- Sidebar -->
  <div id="app-sidebar-15" class="h-full hidden lg:block lg:static absolute left-0 top-0 py-4 pl-4 lg:p-0 z-50">
    <div
      class="w-[18rem] h-full flex flex-col bg-surface-50 dark:bg-surface-900 rounded-2xl border lg:border-0 border-surface-100 dark:border-surface-800"
    >
      <a class="inline-flex items-center gap-3 px-6 pt-5 pb-6 cursor-pointer">
        <svg class="fill-surface-900 dark:fill-surface-0" width="28" height="29" viewBox="0 0 28 29" fill="none">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M14 28.5C21.732 28.5 28 22.232 28 14.5C28 6.76802 21.732 0.5 14 0.5C6.26801 0.5 0 6.76802 0 14.5C0 22.232 6.26801 28.5 14 28.5ZM18.3675 7.02179C18.5801 6.26664 17.8473 5.82009 17.178 6.29691L7.83519 12.9527C7.10936 13.4698 7.22353 14.5 8.00669 14.5H10.4669V14.4809H15.2618L11.3549 15.8595L9.63251 21.9782C9.41992 22.7334 10.1527 23.1799 10.822 22.7031L20.1649 16.0473C20.8907 15.5302 20.7764 14.5 19.9934 14.5H16.2625L18.3675 7.02179Z"
          />
        </svg>
        <span class="font-semibold text-surface-900 dark:text-surface-0">SkillFlowAI</span>
      </a>
      <div class="w-[calc(100%-3rem)] mx-auto h-px bg-surface-200 dark:bg-surface-700 px-6"></div>

      <!-- Navigation -->
      <div class="px-4 py-6 flex-1">
        <ul class="flex flex-col gap-2 overflow-hidden">
          <li *ngFor="let item of navs">
            <button
              [ngClass]="
                selectedNav === item.label
                  ? 'bg-surface-0 dark:bg-surface-950 text-surface-900 dark:text-surface-0 border-surface shadow-[0px_-1px_3px_0px_rgba(0,0,0,0.12)_inset]'
                  : 'border-transparent hover:border-surface-200 dark:hover:border-surface-800 hover:bg-surface-0 dark:hover:bg-surface-950 text-surface-600 dark:text-surface-400'
              "
              class="z-30 text-left w-full relative flex items-center gap-2 pl-3 pr-2 py-2 rounded-lg cursor-pointer transition-all border"
              (click)="onButtonClick(item)"
            >
              <i [class]="item.icon" class="!text-xl !leading-none"></i>
              <span class="flex-1 font-medium">{{ item.label ?? 'default.label' | translate }}</span>
            </button>
          </li>
        </ul>
      </div>

      <!-- Bottom Navigation -->
      <ul class="flex flex-col gap-2 px-4 py-3">
        <li *ngFor="let item of bottomNavs">
          <button
            [ngClass]="
              selectedNav === item.label
                ? 'bg-surface-0 dark:bg-surface-950 text-surface-900 dark:text-surface-0 border-surface shadow-[0px_-1px_3px_0px_rgba(0,0,0,0.12)_inset]'
                : 'border-transparent hover:border-surface-200 dark:hover:border-surface-800 hover:bg-surface-0 dark:hover:bg-surface-950 text-surface-600 dark:text-surface-400'
            "
            class="z-30 text-left w-full relative flex items-center gap-2 pl-3 pr-2 py-2 rounded-lg cursor-pointer transition-all border"
            (click)="onButtonClick(item)"
          >
            <i [class]="item.icon" class="!text-xl !leading-none"></i>
            <span class="flex-1 font-medium">{{ item.label ?? 'default.label' | translate }}</span>
          </button>
        </li>
      </ul>
    </div>
  </div>

  <!-- Main Content -->
  <div class="flex-1 flex flex-col gap-6 p-4 rounded-2xl border border-surface bg-surface-0 dark:bg-surface-950">
    <div class="flex sm:items-center flex-wrap sm:flex-row flex-col pb-4 justify-between border-b border-dashed border-surface gap-4">
      <div class="flex items-center gap-2">
        <a class="cursor-pointer block lg:hidden text-surface-700 dark:text-surface-100 mr-2" (click)="toggleSidebar()">
          <i class="pi pi-bars !text-2xl"></i>
        </a>

        <!-- Search Input -->
        <p-inputgroup class="p-input-icon-left">
          <p-inputgroup-addon>
            <i class="pi pi-search"></i>
          </p-inputgroup-addon>
          <input pInputText placeholder="Search" />
        </p-inputgroup>
      </div>

      <!-- Notifications & Avatar -->
      <div class="flex items-center gap-2">
        <button pButton icon="pi pi-bell" class="p-button-outlined p-button-secondary"></button>
        <p-avatar
          image="https://fqjltiegiezfetthbags.supabase.co/storage/v1/render/image/public/block.images/blocks/avatars/circle/avatar-f-1.png"
          size="large"
          shape="square"
        ></p-avatar>
      </div>
    </div>

    <div class="flex-1 border-2 border-surface rounded-xl border-dashed">
      <router-outlet />
    </div>
  </div>
</div>
