<p-treeTable
  #tt1
  dataKey="id"
  [value]="data"
  [columns]="columns"
  [resizableColumns]="true"
  [tableStyle]="{ 'min-width': '50rem' }"
  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="[10, 20, 50]"
  [showCurrentPageReport]="true"
  [currentPageReportTemplate]="currentPageReportTemplate"
  selectionMode="single"
  [(selection)]="selectedData"
  metaKeySelection="false"
  [ngClass]="customClass"
>
  <!--ng-template #caption>
    <div class="flex">
      <p-iconfield iconPosition="left" class="ml-auto">
        <p-inputicon><i class="pi pi-search"></i></p-inputicon>
        <input
          pInputText
          type="text"
          (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
          placeholder="{{ searchPlaceholder }}"
        />
      </p-iconfield>
    </div>
  </ng-template-->

  <ng-template #header let-columns>
    <tr>
      @for (col of columns; track col.field) {
        <th style="{{ col.headerStyle }}">{{ col.header | translate }}</th>
      }
      @if (showEdit || showDelete) {
        <th></th>
      }
    </tr>
  </ng-template>

  <ng-template #body let-rowNode let-rowData="rowData" let-columns="columns">
    <tr [ttRow]="rowNode">
      @for (col of columns; track col.field; let index = $index) {
        @if (col.type === 'date') {
          <td>
            @if (index === 0) {
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
            }
            {{ rowData[col.field] | date: 'dd.MM.yyyy' }}
          </td>
        } @else if (col.type === 'option') {
          <td>
            @if (index === 0) {
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
            }
            {{ rowData[col.field] | optionName }}
          </td>
        } @else if (col.type === 'options') {
          <td>
            @if (index === 0) {
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
            }
            {{ rowData[col.field] | optionNames }}
          </td>
        } @else if (col.type === 'icon') {
          <td class="text-center">
            @if (index === 0) {
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
            }
            <i [class]="getIcon(rowData[col.field])"></i>
          </td>
        } @else {
          <td>
            @if (index === 0) {
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
            }
            {{ rowData[col.field] }}
          </td>
        }
      }
      @if (showEdit || showDelete) {
        <td class="text-center">
          @if (showEdit && rowData['isParent'] === true) {
            <button pButton type="button" icon="pi pi-pencil" class="p-button-sm p-button-text" (click)="onEdit(rowData)"></button>
          } @else {
            <button pButton disabled type="button" icon="pi pi-pencil" class="p-button-sm p-button-text text-transparent"></button>
          }
          @if (showDelete) {
            <button
              pButton
              type="button"
              icon="pi pi-trash"
              class="p-button-sm p-button-text p-button-danger"
              (click)="confirmDelete(rowData)"
            ></button>
          }
        </td>
      }
    </tr>
  </ng-template>

  <ng-template #emptymessage>
    <tr>
      <td colspan="5">{{ emptyMsg | translate }}</td>
    </tr>
  </ng-template>
  <p-confirmDialog [key]="key" />
</p-treeTable>
