<div class="bg-surface-0 dark:bg-surface-900 p-8 shadow rounded-border flex-auto h-full">
  <div class="dark:text-surface-0 font-semibold text-lg mt-4">{{ 'training.list.title' | translate }}</div>
  <p-divider />
  <p-toast />
  <sf-toolbar [showAdd]="true" (addItem)="showTrainingCreateDialog.set(true)" />
  <sf-tree-table
    [data]="data()"
    [columns]="columns"
    [prefix]="'training'"
    [customClass]="'treetable-height'"
    [showDelete]="true"
    [showEdit]="true"
    (delete)="onDelete($event)"
    (edit)="onEdit($event)"
  />

  <!-- training dialogs -->
  <sf-training-create [(visible)]="showTrainingCreateDialog" (showMessage)="showMessage($event)" />
  <sf-training-edit [(visible)]="showTrainingEditDialog" [trainingId]="selectedTrainingId()" (showMessage)="showMessage($event)" />
  <!-- lesson dialogs -->
  <sf-lesson-edit
    [(visible)]="showLessonEditDialog"
    [lessonId]="selectedLessonId()"
    [trainingId]="selectedTrainingId()"
    (showMessage)="showMessage($event)"
  />
</div>
