<p-table
  #dt2
  dataKey="id"
  stripedRows
  [value]="data"
  [columns]="columns"
  [resizableColumns]="true"
  [tableStyle]="{ 'min-width': '50rem' }"
  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="[10, 20, 50]"
  [showCurrentPageReport]="true"
  [currentPageReportTemplate]="currentPageReportTemplate"
  selectionMode="single"
  [(selection)]="selectedData"
  (onRowSelect)="onRowSelect($event)"
  (onRowReorder)="onRowReorder($event)"
  metaKeySelection="false"
  [ngClass]="customClass"
  [showGridlines]="true"
>
  <!--ng-template #caption>
    <div class="flex">
      <p-iconfield iconPosition="left" class="ml-auto">
        <p-inputicon><i class="pi pi-search"></i></p-inputicon>
        <input
          pInputText
          type="text"
          (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
          placeholder="{{ searchPlaceholder }}"
        />
      </p-iconfield>
    </div>
  </ng-template-->

  <ng-template #header>
    <tr>
      @if (reorder) {
        <th style="width: 3rem"></th>
      }
      @for (col of columns; track col.field) {
        @if (col.sort) {
          <th pSortableColumn="{{ col.field }}">{{ col.header | translate }} <p-sortIcon field="{{ col.field }}" /></th>
        } @else if (reorder) {
          <th pReorderableColumn>{{ col.header | translate }}</th>
        } @else {
          <th>{{ col.header | translate }}</th>
        }
      }
      @if (showEdit || showDelete) {
        <th></th>
      }
    </tr>
  </ng-template>

  <ng-template #body let-rowData let-columns="columns" let-index="rowIndex">
    <tr [pSelectableRow]="rowData" [pReorderableRow]="index">
      @if (reorder) {
        <td>
          <span class="pi pi-bars" pReorderableRowHandle></span>
        </td>
      }
      @for (col of columns; track col.field) {
        @if (col.type === 'date') {
          <td>{{ rowData[col.field] | date: 'dd.MM.yyyy' }}</td>
        } @else if (col.type === 'option') {
          <td>{{ rowData[col.field] | optionName }}</td>
        } @else if (col.type === 'options') {
          <td>{{ rowData[col.field] | optionNames }}</td>
        } @else if (col.type === 'icon') {
          <td><i [class]="getIcon(rowData[col.field])"></i></td>
        } @else if (col.type === 'boolean') {
          <td class="text-center"><p-checkbox [binary]="true" [ngModel]="rowData[col.field]" disabled /></td>
        } @else {
          <td>{{ rowData[col.field] }}</td>
        }
      }
      @if (showEdit || showDelete) {
        <td class="text-center">
          @if (showEdit) {
            <button
              pButton
              type="button"
              icon="pi pi-pencil"
              class="p-button-sm p-button-text text-emerald-500"
              (click)="onEdit(rowData)"
            ></button>
          }
          @if (showDelete) {
            <button
              pButton
              type="button"
              icon="pi pi-trash"
              class="p-button-sm p-button-text p-button-danger"
              (click)="confirmDelete(rowData)"
            ></button>
          }
        </td>
      }
    </tr>
  </ng-template>

  <ng-template #emptymessage>
    <tr>
      <td [attr.colspan]="getColumnLength()">{{ emptyMsg | translate }}</td>
    </tr>
  </ng-template>
  <p-confirmDialog [key]="key" />
</p-table>
