<div class="bg-surface-0 dark:bg-surface-950 px-6 py-20 md:px-12 lg:px-20">
  <div class="flex flex-col lg:flex-row justify-center items-center gap-16">
    <div class="text-center lg:text-right">
      <div class="mt-12 mb-4 font-bold text-6xl text-surface-900 dark:text-surface-0">
        {{ 'core.notFound.title' | translate }}
      </div>
      <p class="text-surface-700 dark:text-surface-100 text-3xl mt-0 mb-12">{{ 'core.notFound.message' | translate }}</p>
      <button type="button" outlined routerLink="/dashboard">{{ 'core.notFound.backButton' | translate }}</button>
    </div>
    <div>
      <img
        src="https://fqjltiegiezfetthbags.supabase.co/storage/v1/render/image/public/block.images/blocks/feedback/404-rocket.png"
        alt="Image"
        class="w-full md:w-[28rem]"
      />
    </div>
  </div>
</div>
