@use 'primeicons/primeicons.css';
@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

// height adjustments for courses-treetable
.treetable-height .p-treetable-wrapper {
  height: 600px;
  overflow-y: auto;
}

.treetable-height .p-paginator {
  position: sticky;
  bottom: 0;
}

// height adjustment for members-table
.table-height .p-datatable-table-container {
  height: 600px;
  overflow-y: auto;
}

.table-height .p-paginator {
  position: sticky;
  bottom: 0;
}

// height adjustment for members-table
.lessons-height .p-datatable-table-container {
  height: 430px;
  overflow-y: auto;
}

.lessons-height .p-paginator {
  position: sticky;
  bottom: 0;
}

// height adjustments for questions-treetable
.questions-height .p-treetable-wrapper {
  height: 435px;
  overflow-y: auto;
}

.questions-height .p-paginator {
  position: sticky;
  bottom: 0;
}
