<p-dialog
  header="{{ 'training.lesson.edit.title' | translate }}"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '70rem', height: '45rem', minWidth: '600px', minHeight: '450px' }"
  (onHide)="cancel()"
>
  <p-tabs value="0">
    <p-tablist>
      <!-- tab header -->
      <p-tab value="0">{{ 'training.lesson.create.tabDetails' | translate }}</p-tab>
      <p-tab value="1">{{ 'training.lesson.create.tabMaterials' | translate }}</p-tab>
    </p-tablist>

    <!-- tab panels -->
    <p-tabpanels>
      <p-tabpanel value="0">
        <sf-lesson-details (submitLesson)="update($event)" (cancelLesson)="cancel()" [lessonId]="lessonId()" />
      </p-tabpanel>
      <p-tabpanel value="1">
        <!--sf-training-materials [training]="training" /-->
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</p-dialog>
